
.dateStyle {
	color: #003366;
	text-align: center;
}/* Empty. Add your own CSS if you like */


/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}/* Empty. Add your own CSS if you like */
